body, html {
    height: 100%;
    line-height: 1.8;
  }
  
  ::selection {
    /* Change highlight background color to white */
    background: #000;
    /* Change highlight text color to light brown */
    color: #D2B48C;
  }
  
  :hover{
    /* Change hover text color to black */
    color: #000;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color:black;
  }

  @font-face {
    font-family: customfont;
    src: url(customfont.ttf) format("truetype");
  }

  @font-face {
    font-family: pixel-title-font;
    src: url(pixel-title-font.ttf) format("truetype");
  }

  p {
    font-family: customfont;
  }

  h1 {
    font-family: pixel-title-font;
  }